body {
  font-family: Arial, sans-serif;
  background-color: black;
  color: white;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #000000;
  border-radius: 10px;
  box-shadow: 0 0 10px white(0, 0, 0, 0.2);
  text-align: center;
  border-color: aliceblue;
}

h1 {
  color: white;
}

label {
  display: block;
  margin-bottom: 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

input {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 3px;
}
input:focus{
  outline: none
}

button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#result p span{
  font-size: 23px;
  font-weight: bold;
  margin-top: 20px;
}

#result h2{
  border-bottom: 1px ridge #2B39CC
}

#milestones {
  background-color: #333;
  border: 1px solid #444;
  border-radius: 5px;
  margin-top: 20px;
  padding: 10px;
  text-align: left;
}

#milestones h2 {
  font-size: 18px;
  color: #fff;
  margin-bottom: 10px;
}
#milestones p {
  font-size: 16px;
  color: #fff;
  margin: 10px 0;
}

#milestones span {
  font-weight: bold;
}
